<div class="container my-5 border-bottom">
    <header>
        <h2>Barbearia PHP [No Braço]</h2>
        <p>Sistema de agendamento de clientes para barbearia.</p>
    </header>

    <p>Em virtude de um pequeno debate para salientar qual seria o melhor processo de desenvolvimento de um sistema
        simples para gerenciar os agendamentos de uma barbearia, descidi colocar em pratica minha opinião de
        utilizar framewoks no desenvolvimento, a pesar da posibilidade de não utilizar.</p>

    <p class="lead">Recomendo ativamente a utilização de framewoks comerciais como por exemplo o <a href="">Laravel</a>.
    </p>



    <h3>Screen Shots</h3>
    <img src="img/barbearia_php_nobraco/inicio.png" alt="grey" class="img-thumbnail">
    <img src="img/barbearia_php_nobraco/login.jpg" alt="grey" class="img-thumbnail">
    <img src="img/barbearia_php_nobraco/dashboard.png" alt="grey" class="img-thumbnail">

    <h3>Ligações externas</h3>

    <p>
        <a class="btn btn-primary" href="https://daniellima.dannke.com.br/demo/barbearia_php_nobraco">Demo</a>
        <a class="btn btn-primary" href="http://gtihub.com.br">Source <i class="fa fa-github"></i></a>
        <a class="btn btn-primary" href="daniellima.dannke.com.br/demo/barbearia_php_nobraco">Making of <i
                class="fa fa-youtube"></i></a>
    </p>
</div>