<div class="banner">
    <img src="assets/img/perfilo01.jpg" alt="" srcset="">
    <!-- p>Desenvolvedor</p -->
</div>

<div class="conteudo-bloco">
    <h2>Um pouco da minha historia</h2>
    <p>
        Tenho lido e pesquisado sobre desenvolvimento boa parte da minha vida, não nescesariamente desenvolvimento de
        softwere, mas todos que eu pudesse pesquisar, dês do desenvolvimento de uma pequena planta, até a criação do
        universo. O que me deu uma otima noção de processos, requerimentos e objetivo.
    </p>

    <p>
        Mesmo ja tendo lido livros de informatica, principalmente sobre radwere, a falta de recuso não me permitil segir
        na areao tão cedo, apenas aos 18 ano tive pude comesar a estudar programação, inicialmente <b>C</b>(Livro C
        completo e total), <b>Pasca</b>, <b>Delphi</b>, <b>Java</b>, <b>VBA</b>(PREPARA CURSOS).
    </p>

    <p>
        Meu primeiro emprega foi na franquia <b>PREPARA CUROSOS</b> como Educador, O que me permitil estudar diversas
        areas relacionadas ou não a desenvolvimento, tais como: <b>Administração</b>, <b>vendas</b>,
        <b>contabilidade</b>, webdesign(<b>Dreamwever</b>, <b>HTML</b>,<b>PHP</b>), entre outros.
    </p>

    <p>
        Tive varias cupações, chegando a iniciar uma Lahouse Familar , mas em 2016 consegui minha primeira oportunidade
        como desenvolvedor em uma pequena sofhouse no interior da Paraiba. Pude colcar em pratica todo conhecimento
        adquirido em desenvolvimento Desktop com o <b>Delphi</b>, e <b>Lazarus</b>, Back-end principalmente
        desenvolvimento APIs e serviços com PHP(5, 7, 8) e Delphi (API para restaurante rodando em servidor local),
        utiizando ou não framworks, tambem desnvolvi tam bem projetos fullstack. Tambem desenvolvi alguas paginas
        (front-end), principalmente para consumir APIs.
    </p>

</div>

<div class="conteudo-bloco">
    <h2>Conhecimentos e habilidades</h2>
    <ul>
        <li>HTML5
            <ul>
                <li>html</li>
                <li>css</li>
                <li>js</li>
                <li>canvas</li>
                <li>svg</li>
            </ul>
        </li>
        <li>Angular
            <ul>
                <li>Material</li>
            </ul>
        </li>
        <li>Laravel
            <ul>
                <li>Blade Templates</li>
            </ul>
        </li>
        <li>PHP
            <ul>
                <li>Laravel</li>
            </ul>
        </li>
        <li>Delphi</li>
        <li>Lazarus</li>
        <li>Delphi
            <ul>
                <li>Zeos - Conexão com diverssos bancos de dados.</li>
                <li>Unidac - Conexao com diverssos bancos de dados.</li>
                <li>ACbR - Suporte comercial, NFC-e, NF-e</li>
                <li>DUnit - Testes unitarios</li>
            </ul>
        </li>
        <li>Lazarus</li>
        <li>C/C++
            <ul>
                <li>OpenGl - Graficos 2d e 3d</li>
                <li>SDL - Graficos 2D</li>
                <li>CppUnit - Testes unitarios</li>
            </ul>
        </li>
    </ul>
</div>

<!-- div class="conteudo-bloco">
    <img src="assets/img/storyset/Website Creator-bro.svg"
    alt="ilustração representando um desenvolvedor front-end.">
    <img src="assets/img/storyset/Programming-bro.svg" alt="Ilustração representando um desenvolvedor backend-end.">
    <img src="assets/img/storyset/Pair programming-bro.svg"
            alt="Ilustração representando um desenvolvedor backend-end.">

</div -->